# API KEYS
FIREWORKS_API_KEY=
OPENAI_API_KEY=

# MODEL
OPENAI_MODEL="gpt-5-mini"
REASONING_EFFORT="medium"

# RATE LIMITING
RATE_LIMITING_ENABLED=false
RATE_LIMIT="10000 per day"
HISTORY_RATE_LIMIT="500000 per day"

# DATABASE (POSTGRES CONNECTION STRING)
DATABASE_URL=
